#landing {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    font-size: smaller;
    color: white;
  }
  #welcome {
    padding-top: 160px;
  }
  
  #logo {
    padding-bottom: 20px;
  }
  
  #mouse {
    padding-top: 140px;
  }
  #about{
      text-align: center;
  }
  #about-image {
    text-align: center;
    color: white;
    background-image: url(../assets/backgrounds/s_image.jpg);
  }
  #what-we-do{
      text-align: center;
  }
  #design-dec{
      display: none;
  }
  #develo-pment{
      display: none;
  }
  #manage-ment{
display: none;
font-size: 16px;
  }
  #portfolio{
      text-align: center;
  }